html {
  background-color: #2f1e4b;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
}

section:first-of-type {
  margin-bottom: 30px;
}

.header,
.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #2f1e4b;
  height: 80px;
}

.header img,
.footer img {
  height: 60px;
  margin-left: 60px;
}

h1 {
  color: #2f1e4b;
  text-align: center;
  font-family: 'Instrument Serif', serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: 0.02em;
}

h2 {
  color: #2f1e4b;
  font-family: 'Instrument Serif', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.02em;
}

h3,
h4 {
  font-weight: 400;
  margin: 18px 0;
}

h4 {
  text-decoration: underline;
}

a {
  color: #2f1e4b;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #2f1e4b;
  opacity: 0.8;
  text-decoration: underline;
}

a h4 {
  transition: all 0.2s ease-in-out;
}

a:hover h4 {
  color: #2f1e4b;
  opacity: 0.8;
}

p.message {
  color: #2f1e4b;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0;
  text-align: center;
  max-width: 900px;
}

.recommendations {
  margin-bottom: 80px;
  max-width: 430px;
}

.recommendations p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 70%;
  letter-spacing: 0;
}

.phone-number-container {
  display: flex;
  align-items: center;
}

.phone-number-img {
  display: inline-block;
  height: 26px;
  margin-left: 10px;
}

.phone-number-link {
  text-decoration: none;
}

.phone-number-link:hover img {
  opacity: 0.8;
  transform: scale(1.05);
}
